<h2>Editing Page</h2>

<%=form_for @post, :url=>post_path(@post), :method=>:patch, :class=>"form" do |f|%>
<%=f.label :topic, "Topic"%>
<%=f.text_field :topic, :class=>"form-control"%>
<%=f.label :content, "Content"%>
<%=f.text_area :content, :class=>"form-control"%>
<%=f.submit "Update"%>
<%end%>